@{
    ViewData["Title"] = "ABC Retail Dashboard";
}
<div class="container mt-4 text-center">
    <h2 class="text-primary mb-4">Azure Storage Demo</h2>
    <div class="d-grid gap-3 col-6 mx-auto">
        <a href="/Store/Customers" class="btn btn-outline-primary btn-lg shadow">👥 Customers</a>
        <a href="/Store/Products" class="btn btn-outline-success btn-lg shadow">📦 Products</a>
        <a href="/Store/Ques" class="btn btn-outline-info btn-lg shadow">🖼 Order Proccesing</a>
        <a href="/Store/Contracts" class="btn btn-outline-warning btn-lg shadow">📄 Contracts</a>
    </div>
</div>